
*{margin:0px;
   padding: 0px;}



#logo
{   
   font-family: 'Arial';
   font-weight: 900;
   color: white;
   float: left;
   margin-left: 25px;
   margin-top: 25px;

}

nav
{
 
  float: right;
   margin-right:25px;
   margin-top: 25px;
}

.menu_item
{     list-style: none;
       display: inline-block;
       
        margin: 0px 25px 0px 25 25px;}




 


#titulo_seccion_inicio
{ 
  
  
  position: relative;
  top: 400px; 
  left: 350px;
  text-align: center;
  font-family: 'Lato',sans-serif;
  color:#cfcfcf;

 
}

#asmarillo
{

	color: yellow;
  
}



#seccion_inicio
{
        
	background-image: url("../images/lala.jpg");
	
	 height: 912px ;
	 background-attachment: fixed;
	
}





#cabecera
{   padding-bottom: 0px;
	font-family: 'Lato', sans-serif;
    color:#cfcfcf;
}

#texto
{
    			float: right;
    		   
               margin-right: 0px; 
               width: 440px;
               height: 340px;
               font-family: 'Lato', sans-serif;
          

               
              
}

#imagenSegundoPanel
{              background-image: url('../images/mac-pc.png');
               background-repeat: no-repeat;
               background-size: 340px;
               background-position: center;
               /*border-top-style: dashed;
               border-right-style: dashed; 
               border-bottom-style: dashed;
               border-left-style:dashed;  */
                float:left;
               width: 440px;
               height: 340px;
              /* margin-left: 120px;*/
               /*margin-right: 120px;*/

}







.button
{   margin-top: 0px;
	margin-bottom: 30px;
   background-color: orange;
   margin-left: 40px;
  height: 7px;
  width: 80px;

}

#parrafo
{
  margin-left: 40px;


}

#listaSegunda
{  padding-top: 10px;
   list-style: circle;
   padding-left: 60px;
   color:#333;	

}